/* .fieldSet {
    margin: 1%;
    padding: 2%;
} */


fieldset {
    min-height: 320px !important;
    padding: 5% !important;
    margin: 1% !important;
    border: 1.5px solid white !important;
    background-color: #F3A274;
    border-radius:5px ;
}

legend {
    width: unset !important;
}

.container {
    background-color: #FBCEB1;
    margin-top:4% !important;
}

.container h1{
    margin-left:40% ;
}

input[type=submit] {
    margin-bottom: 15px !important;
}