#div1{
    width: 40%;
    height: 300px;
    margin-left: 400px;
    text-align: left;
    background-color: #f5f5f0;
    font-size: 20px;
    border-radius: 15px;
    padding: 30px;
  }
  h1{
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      color: #006622;
      text-align: center;

  }