html,
body {
	margin: 0;
	width: 100%;
	min-height: 100%;
}
body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	height: 100vh;
}

section {
	height: 100%;
	width: 100%;
	display: flex;
	background: #818181a6;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button {
	background: #818181;
	color: white !important;
	border: 0;
	width: unset !important;
	margin: 2px 0px;
	outline: none;
	font-size: 17px !important;
	text-align: center;
	text-decoration: none;
	padding: 12px !important;
	transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s;
	font-family: Arial;
}

.button:hover {
	background: #000000b8;
	color: white !important;
	transition-duration: 0.8s;
}

.mainWrapper {
	width: 80%;
	display: flex;
	height: 70%;
}
.sidePic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.infoWrap {
	background: #0000003b;
	width: 50%;
	display: flex;
	margin: 0;
	align-items: center;
	padding: 0;
	justify-content: center;
	background-size: cover;
}

.picWrap {
	width: 50%;
}

.marksForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 67%;
	border: solid #ffffff2b 1px;
	padding: 35px 25px;
	background: #81818199;
	height: fit-content;
}

.marksForm input {
	height: 5vh;
	width: 45%;
	padding: 8px;
	color: #818181;
	outline: none;
	font-size: 15px;
	border: 0;
	background: #ffffffd4;
}

input:focus {
	background: white;
	transition: 0.5s;
}

.marksForm h3 {
	margin: 2px 0;
	text-align: center;
	color: white;
	padding: 10px;
	font-family: sans-serif;
}

.marks {
	position: absolute;

	background: white;

	padding: 12px;

	font-weight: 600;

	font-size: 25px;

	font-family: MONOSPACE, sans-serif, serif;
}

@media (max-width: 800px) {
	.mainWrapper {
		flex-direction: column-reverse;
	}
	.picWrap,
	.infoWrap {
		width: 100%;
	}
	.marksForm {
		width: 100%;
	}
	section {
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.inputs {
	display: flex;
	justify-content: space-between;
}

.inputs input {
	margin: 1px 0px;
}
