/.codelite

/Events and Event handlers

/validation
.tern-port
.tern-project
arrays.js
assignment_four.js
assignment_one.js
assignment_three.js
assignment_two.js
Assignment.pdf
code.workspace
conditions.js
DOM.html
first_file.js
js_coaching.js
objects.js
toyota.jpg
week_two.js