.body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.header{
    background-color: rgb(76, 51, 189);
    font-size: x-large  ;
    font-weight: bold;
    text-align: center;
    height: 100px;
    padding-top: 30px;
    color: beige;
}

.outerDiv{
    display: block;
    border: 5px solid purple;
    border-radius: 2em;
    align-items: center;
    height: 300px;
    width: 800px;
    padding-left: 250px;
    background-color: burlywood 0.8;
    margin-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-top: 150px;
    margin-right: 40px;
    color: black;
    
}

.bigDiv{
    display: block;
    align-items: center;
    padding-left: 250px;
    
}

#bckground{
    background-image: url(toyota.jpg);
    
}

#display{
    display: block;
}

#display1{
    display: block;
}

#displayButton{
    /* float: right; */
    /* margin-right: 90px; */
    
}
.button1{
    color:black;
    /* font-weight:bold; */
    border-radius: 7px;
}

.fieldStyle{
    border-radius: 3em;
}

