.form{
    background: #fe9;
    border-radius: 2em;
    
    padding:2em;
    transform:scale(.9);
    transform-origin:0 0;
    transition:transform .6s;
    height: 500px;
    width:  900px;
    margin:5%;
    margin-left:20%;
    margin-top: 7%;

}
.dan{
    margin-left: 200px;
    font-size: 20px;
    font-weight: 800;
    padding-top: 5%;
    height: 30%;
    width: 12%;
    
}
#bata1{
    height: 45px;
    width: 400px;
    padding-left:20px;
    
}
#bata2{
    height: 45px;
    border-bottom: 50%;
    width: 400px;
    padding-left:20px;
    
}
.jo{

}


