<style>
h1 {
    color: purple;
    font-size: 50px;
}
h2 {
    color: red;
}

h3 {
    color: blue;
}
.boys {
    color:blue;
}

.italics{
font-style: italic
}
#john {
    font-size: 80px;
}
body{
    background-color: magenta;
}
<p1.solid {border-style: solid;}>
</style>