

.mark-heading{
    color:  #ffffff;
    font-weight: bold;

}
.student-form{
    color: #ffffff;
    font-weight: bold;
    
}
.style{
    background-color: rgb(117, 27, 95);
    border-radius: 2em;
}
.btn{
    background-color: rgb(117, 27, 95);
    color:#ffffff;
    
}