html, body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #DCDDDF;
    color: #000;
    font: 14px;
    padding: 0;
    position: relative;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    color: #563D64;
}

small {
    font-size: 10px;
}

b, strong {
    font-weight: bold;
}

/* a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    margin: 10% auto;
    position: relative;
    width: 900px;
}

#content {
    background: #f9f9f9;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
    border-radius: 5px;
}

#content h1 {
    color: #7E7E7E;
    font: bold 25px;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

/* #content h1:before, #content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

#content h1:after {
    background: rgb(126, 126, 126);
    right: 0;
}

#content h1:before {
    background: rgb(126, 126, 126);
    background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
}

#content:after, #content:before {
    background: #f9f9f9;
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}

#content:after {
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}

#content:before {
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
} */

#content form {
    margin: 0 20px;
    position: relative;
    background-color: rgba(255, 255, 128, .5);
    border-radius: 10px;
}

#content form input[type="text"], #content form input[type="password"] {
    border-radius: 3px;
    transition: all 0.5s ease;
    background: #eae7e7 no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 16px;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}

#content form input[type="text"]:focus, #content form input[type="password"]:focus {
    /* box-shadow: 0 0 2px #ed1c24 inset; */
    background-color: #fff;
    border: 1px solid #eae7e7;
    outline: none;
}

#username {
    background-position: 10px 10px !important
}

#password {
    background-position: 10px -53px !important
}

#content form input[type="submit"], input[type="reset"] {
    border-radius: 30px;
    color: #EEEEEC;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 35px;
    position: relative;
    width: 120px;
    font-weight: bold;
}

#content form .logIn {
    background: green;
    float: left;
    border: 1px solid #4E9A06;
    margin: 20px 0 35px 15px;
}

#content form .logIn:hover {
    background: #4E9A06;
}

.cancel {
    background: red;
    float: right;
    border: 1px solid #ed1c24;
    margin: 20px 15px 35px 0;
}

.cancel:hover {
    background: #fd3b41;
}

/* #content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
} */

.button {
    background: rgb(247, 249, 250);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
}

/* .button a {
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
}

.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
} */

.log {
    margin: 10% auto;
    position: relative;
    text-align: center;
}